/* Geist Sans + Geist Mono, self-hosted. Files are vendored from the `geist`
   npm package (SIL Open Font License, see ./fonts/LICENSE.txt) because that
   package only exports Next.js font loaders. Refresh with `npm run fonts`. */

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/Geist-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/GeistMono-Variable.woff2") format("woff2");
}
